
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(253, 223, 243);
}

header {
    background-color: #000000;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.header-content {
    display: flex;
    text-align: center;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding: 0 8vw;

}

header h1 {
    color: white;
    margin: 0;
    white-space: nowrap;
    font-size: 5vw;
}


nav ul {
    font-size: 2.5vw;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0.8em; /* Space between navigation items */
    background-color: transparent;
}
nav li {
    display: inline;
    background-color: transparent;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 1em; /* Adjust font size as needed */
}

.logo-image-left{ 
    width: calc(4em + 1vw); /* Adjusted to scale with screen size and text size */
    height: auto;
    position: absolute;
    left: 0.5vw;
}
.logo-image-right{ 
    width: calc(4em + 1vw); /* Adjusted to scale with screen size and text size */
    height: auto;
    position: absolute;
    right: 0.5vw;
}


.team-photo {
    display: block;
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.sections{
    font-size: 4.75;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 5vw;
    text-decoration: underline;
}

.link-to-form{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
}
iframe {
    width: 100%;
    max-width: 640px; /* Limits the maximum width on larger screens */
    height: 800px;
    border: none;
}
@media (min-width: 600px) {
    .navbar {
        flex-direction: row;
    }

    .sections {
        font-size: 5vw;
    }

}

@media (min-width: 800px) {
    .navbar {
        flex-direction: row;
    }
    nav ul {
        font-size: 1.5vw;
    }
    header h1 {
        font-size: 5vw;
}

@media (max-width: 650px) {
    
}

}